<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ymmy.todo_chat.db.mapper.CommentCustomMapper">
  <update id="updateStatusByThreadIdAndStatus" parameterType="map">
    UPDATE `comment`
    SET
      status = 300
    WHERE
      thread_id = #{threadId}
      AND status = #{beforeStatus};
  </update>
</mapper>