<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo x Chat | 404</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<th:block th:replace="fragments/header::header (currentUrl='')"/>
<th:block th:replace="fragments/error::error (code=403, message='このページへのアクセスは制限されています')"/>
<th:block th:replace="fragments/footer::footer"/>
<script th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"></script>
</body>
</html>
