<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Todo x Chat | Login</title>
  <link crossorigin="anonymous" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
        rel="stylesheet"
        th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
<header class="container">
  <div class="d-flex flex-wrap justify-content-between pt-3">
    <a class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
       href="/home">
      <h1 class="display-6 mb-0">Todo x Chat</h1>
    </a>
  </div>
  <hr/>
</header>
<main class="position-absolute top-50 start-50 translate-middle w-100">
  <div class="container text-center">
    <form class="p-4 shadow" method="post" th:action="@{/login}">
      <div class="my-5">
        <h2>Please login</h2>
      </div>
      <div th:if="${param.error}">
        <div th:if="${session.containsKey('SPRING_SECURITY_LAST_EXCEPTION')}">
          <div class="alert alert-danger">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
          </div>
        </div>
      </div>
      <div class="form-floating mb-4">
        <input class="form-control" id="username" name="username" type="text">
        <label for="username">user name</label>
      </div>
      <div class="form-floating mb-4">
        <input class="form-control" id="password" name="password" type="password"
               autocomplete="true">
        <label for="password">password</label>
      </div>
      <div class="my-3">
        <button class="w-50 btn btn-lg btn-secondary" type="submit">Login</button>
      </div>
    </form>
  </div>
</main>
<th:block th:replace="fragments/footer :: footer"></th:block>
<script crossorigin="anonymous" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
